.frost-chart-x-axis,
.frost-chart-y-axis {
  position: absolute;
}

.frost-chart-x-axis {
  display: flex;
  flex-direction: column;
  align-items: center;

  .frost-chart-x-axis-label {
    margin: 5px 0;
  }

  .frost-chart-axis-tick {
    display: inline-block;
  }

  &.bottom {
    .frost-chart-x-axis-label {
      order: 1;
    }
  }
}

.frost-chart-axis {
  position: absolute;

  &.left,
  &.right {
    display: flex;
    flex-direction: row;
    align-items: center;

    .frost-chart-axis-label {
      transform: rotate(-90deg);
      margin: 0 5px;
    }

    .frost-chart-axis-tick {
      display: block;
    }
  }

  &.right {
    .frost-chart-axis-label {
      transform: rotate(90deg);
      order: 1;
    }
  }
}

.frost-chart-axis-tick {
  font-size: $frost-font-xs;
  color: $frost-color-grey-4;
}
