.frost-gauge {
  position: relative;

  .frost-gauge-text {
    position: static;
    width: 70%;
    margin-top: -60%;
    margin-left: 15%;
    color: $frost-color-grey-1;
    text-align: center;
  }

  .frost-gauge-track {
    stroke: $frost-color-lgrey-1;
    stroke-width: 10px;
    stroke-dashoffset: 0;
  }

  .frost-gauge-fill {
    stroke-width: 3px;
  }
}
