.frost-chart-x-axis,
.frost-chart-y-axis {
  position: absolute;
  display: flex;
  align-items: center;
}

.frost-chart-x-axis {
  flex-direction: column;

  .frost-chart-x-axis-label {
    margin: 5px 0;
  }

  .frost-chart-axis-tick {
    display: inline-block;
  }

  &.bottom {
    .frost-chart-x-axis-label {
      order: 1;
    }
  }
}

.frost-chart-y-axis {
  flex-direction: row;

  .frost-chart-y-axis-label {
    transform: rotate(-90deg);
    margin: 0 5px;
  }

  .frost-chart-axis-tick {
    display: block;
  }

  &.right {
    .frost-chart-y-axis-label {
      transform: rotate(90deg);
      order: 1;
    }
  }
}

.frost-chart-axis-tick {
  font-size: $frost-font-xs;
  color: $frost-color-grey-4;
}
