.frost-guage {
  position: relative;

  &-text {
    position: static;
    width: 70%;
    margin-top: -60%;
    margin-left: 15%;
    color: $frost-color-grey-1;
    text-align: center;
  }

  .track {
    stroke: $frost-color-lgrey-1;
    stroke-width: 10px;
    stroke-dashoffset: 0;
  }

  .fill {
    stroke-width: 3px;
  }

  .scale-labels {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;

    .scale-label {
      position: absolute;
    }
  }
}
