@import 'node_modules/ember-frost-core/addon/styles/frost-theme';
@import 'node_modules/ember-frost-core/addon/styles/frost-app';

.demo-body {
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 10px;
  height: 100%;
}

.demo-full {
  height: 100%;
  width: 100%;
}

.demo-row {
  display: flex;
  flex-direction: row;
  flex: 1;
}

.demo-flex {
  flex: 1;

  .frost-chart-x-axis-svg {
    text {
      alignment-baseline: hanging;
      text-anchor: end;
    }

    line {
      stroke-width: 1px;
      stroke: #cdcdcd;
    }
  }
}

.frost-gauge {
  .track {
    stroke: $frost-color-lgrey-1;
    stroke-width: 15px;
    stroke-dashoffset: 0;
  }

  .first {
    stroke-width: 3px;
  }

  .second {
    stroke-width: 5px;
  }

  .third {
    stroke-width: 7px;
  }

  .fourth {
    stroke-width: 9px;
  }

  .fifth {
    stroke-width: 7px;
  }

  .sixth {
    stroke-width: 5px;
  }
}
